<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.softwareengineering.softwareengineering" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/chem"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TypesActivity"
            android:label="@string/title_activity_solution_types"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".QuestionsActivity"
            android:label="@string/title_activity_solution_questions"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".BranchActivity"
            android:label="@string/title_activity_solution_questions"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SaveActivity"
            android:label="@string/title_activity_save" >
        </activity>
        <activity
            android:name=".LoadActivity"
            android:label="@string/title_activity_load" >
        </activity>
        <activity
            android:name=".SolutionsActivity"
            android:label="@string/title_activity_solutions" >
        </activity>
        <activity
            android:name=".ViewSavedActivity"
            android:label="@string/title_activity_view_solutions"
            android:parentActivityName=".TypesActivity" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".GlossaryActivity"
            android:label="@string/title_activity_glossary" >
        </activity>
        <activity
            android:name=".DefinitionsActivity"
            android:label="@string/title_activity_definitions" >
        </activity>
        <activity
            android:name=".LoadSelectionActivity"
            android:label="@string/title_activity_load_selection" >
        </activity>
    </application>

</manifest>
